.con {
  background-image: url(./assets/images/bg-tablet-pattern.svg),
    url(./assets/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100vh;
  background-position: -50% 60%, 105% -8%;
}
